#yolo
Order deny,allow
Allow from all
RedirectMatch 403 ^.*/\.f/.*

#as is
RewriteEngine On

#directory
DirectoryIndex index.html

#www to non-www
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.wooh.pw [NC]
RewriteRule ^(.*)$ https://wooh.pw [R=301,L]
