		html, body 
		{
			color:#262626;
			background-color:#E5E5E5;
			margin:0px;
			position: absolute;
			width:100%;
			height:100%;

		}
		.part1
		{
			display: block;
			width:97%;
			height:94%;
			margin-bottom:-25px;
			transition: 0.5s;
		}
		.part2
		{
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			margin: 15px;
			position: relative;
			display: block;
		}
		.main
		{	
			position: relative;
			margin-top: 25px;
			margin-left: 25px;
			height: 100%;
			width: 100%;
			border: 1px solid #262626;
			font-family: 'Montserrat', sans-serif;
		}
		
		.main_text
		{
			margin: 0;
  			position: relative;
  			top: 50%;
  			text-align: center;
  			-ms-transform: translateY(-50%);
  			transform: translateY(-50%);
		}
		.main_h1
		{
			font-family:Microsoft YaHei UI;
			font-weight: 800;
			font-size:250px;
			position: relative;

		}
		.main_h2
		{
			font-size:25px;
			font-weight: 700;
			margin-bottom: -50px;
		}
		.main_h3
		{
			font-size:25px;
			font-weight: 700;
			margin-top: -20px;
		}
		.main_desc
		{
			text-align: left;
			position: absolute;
			top:15px;
			left:15px;
		}
		.main_mail:link, .main_mail:visited
		{
			color: #262626;
			text-decoration: none;
			transition: 0.5s;
		}
		.main_mail:hover
		{
			color: #9E9E9E;
			text-decoration: none;
			transition: 0.5s;
		}
		.main_mail
		{
			text-align: right;
			position: absolute;
			bottom:15px;
			right:15px;
			color: #262626;
			text-decoration: none;
			transition: 0.5s;
		}
		span
		{
			display: block;
		}